.left-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* for left container searchbar */
.left-container-nav-bar{
    margin-top: 1px;
    flex: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.search-icon{
    flex: 2;
    text-align: right;
}

.search-input{
    flex: 4;
}

.search-input input{
    border: none;
    padding: 8px;
    font-size: 16px;
}

.location-icon{
    flex: 2;
    text-align: left;
}


/* for left container data box */
.left-container-data-box{
    flex: 12;
    margin: 0 30px;
    display: flex;
    flex-direction: column;
}
/* Temperature data */
.left-container-temp-data{
    flex: 1;
    display: flex;
    flex-direction: column;
}
/* Other details */
.left-container-other-details{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.left-container-temp-img{
    flex: 2;
}

.left-container-temp-img img{
    width: 200px;
    height: 180px;
    margin-left: 55px;
}

.left-container-temp-value{
    flex: 1;
    font-size: 62px;
    font-weight: normal;
}

.left-container-temp-value sup{
    position: relative;
    top: 3px;
    font-size: 36px;
}
.left-container-day-time{
    flex: 1;
    font-weight: 600;
    color: black;
}

.dividing-line{
    height: 1px;
    width: 100%;
    background-color: #f5f5f5;
    margin-top: 20px
}

/* Temperature Details */
.left-container-other-details{
    flex: 1;
    display: flex;
    flex-direction: comlumn;
}

.left-container-temp-summary{
    flex: 0.7;
    display: flex;
    flex-direction: row;
}

.left-container-temp-summary-phrase-img{
    margin-right: 8px;
}

.left-container-rain-stats{
    flex: 1;
    display: flex;
    flex-direction: row;
}

.left-container-rain-stats-img{
    margin-right: 8px;
}

.left-container-location-details{
    flex: 3;
    text-align: center;
}

.left-container-location-img img{
    width: 270px;
    height: 140px;
    border-radius: 20px;
}

.left-container-location-name{
    margin-top: -75px;
    font-size: large;
    font-weight: bold;
    color: white;
}
