<div class="left-container">
    <div class="left-container-nav-bar">
        <div class="search-icon"><fa-icon [icon]="searchIcon"></fa-icon></div>
        <div class="search-input"><input type="text" placeholder="Search for places ..."></div>
        <div class="location-icon"><fa-icon [icon]="locationIcon"></fa-icon></div>
    </div>
    <div class="left-container-data-box">
        <div class="left-container-temp-data">
            <div class="left-container-temp-img"><img src="/assets/status-temp/rainy-day.png" alt=""></div>
            <div class="left-container-temp-value">12<sup>°C</sup></div>
            <div class="left-container-day-time">Monday,<span class="time"> 16:00 </span></div>
        </div>
        
        <div class="dividing-line"></div>

        <div class="left-container-other-details">
            <div class="left-container-temp-summary">
                <div class="left-container-temp-summary-phrase-img"><fa-icon class="fa-xs" [icon]="faCloud"></fa-icon></div>
                <div class="left-container-summary-value">Mostly Cloudy</div>
            </div>
            <div class="left-container-rain-stats">
                <div class="left-container-rain-stats-img"><fa-icon class="fa-xs" [icon]="faCloudRain"></fa-icon></div>
                <div class="left-container-rain-stats-value">Rain - 30%</div>
            </div>
            <div class="left-container-location-details">
                <div class="left-container-location-img"><img src="/assets/location-img/chonburi-img.jpg" alt=""></div>
                <div class="left-container-location-name">Chonburi Thailand</div>
            </div>
        </div>
    </div>
</div>
