.app-container{
    width: 100vw;
    height: 100vh;
    background-color: #d6d7da;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container{
    width: 65vw;
    height: 80vh;
    border-radius: 35px;
    display: flex;
    flex-direction: row;
}

.left-container{
    flex: 3;
    background-color: white;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
}

.right-container{
    flex: 7;
    background-color: #f6f6f8;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
}