<div class="right-container">
    <!-- navbar -->
    <div class="right-container-nav-bar">
        <div class="nav-bar-tabs">
            <div class="today" (click)="onTodayClick()" [class.tab-active]="today">Today</div>
            <div class="week" (click)="onWeekClick()" [class.tab-active]="week">Week</div>
            <div class="underline" [className]="today == true?'underline underline-today' : 'underline underline-week'"></div>
        </div>
        <div class="nav-bar-metric">
            <div class="celsius" (click)="onCelciusClick()" [class.metric-active]="celsius">°C</div>
            <div class="farenheit" (click)="onFarenheitClick()" [class.metric-active]="farenheit">°F</div>
            <div class="profile-image"><img src="/assets/profile.png" alt="profile-image"></div>
        </div>
    </div>
    <!-- databox -->
    <div class="right-container-data-box">
        <!-- show when click week button -->
        @if(week == true){
            <div class="right-container-week-cards">
                <div class="card">
                    <div class="card-day">Sun</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span><span class="temp-min"> -3° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">Sun</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span><span class="temp-min"> -3° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">Sun</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span><span class="temp-min"> -3° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">Sun</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span><span class="temp-min"> -3° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">Sun</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span><span class="temp-min"> -3° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">Sun</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span><span class="temp-min"> -3° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">Sun</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span><span class="temp-min"> -3° </span></div>
                </div>
            </div>
        }
        <!-- show when click today -->
        @if(today == true){
            <div class="right-container-today-cards">
                <div class="card">
                    <div class="card-day">12:00</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">12:00</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">12:00</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">12:00</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">12:00</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">12:00</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span></div>
                </div>
                <div class="card">
                    <div class="card-day">12:00</div>
                    <div class="card-temp-img"><img src="/assets/status-temp/sun.png" alt=""></div>
                    <div class="card-temp-value"><span class="temp-max"> 15° </span></div>
                </div>
            </div>
        }
        <div class="right-container-today-highlight">
            <div class="right-container-today-highlight-title"> Today's Highlight</div>
            <div class="right-container-today-highlight-cards">
                <div class="right-container-today-highlight-card">
                    <div class="right-container-today-highlight-card-title">UV Index</div>
                    <div class="guage">
                        <div class="guage-body">
                            <div class="guage-fill"></div>
                            <div class="guage-cover"></div>
                        </div>
                    </div>
                    <div class="right-container-today-highlight-card-value">5</div>
                </div>
                <div class="right-container-today-highlight-card">
                    <div class="right-container-today-highlight-card-title">UV Index</div>
                    <div class="guage">
                        <div class="guage-body">
                            <div class="guage-fill"></div>
                            <div class="guage-cover"></div>
                        </div>
                    </div>
                    <div class="right-container-today-highlight-card-value">5</div>
                </div>
                <div class="right-container-today-highlight-card">
                    <div class="right-container-today-highlight-card-title">UV Index</div>
                    <div class="guage">
                        <div class="guage-body">
                            <div class="guage-fill"></div>
                            <div class="guage-cover"></div>
                        </div>
                    </div>
                    <div class="right-container-today-highlight-card-value">5</div>
                </div>
            </div>
            <div class="right-container-today-highlight-cards">
                <div class="right-container-today-highlight-card">
                    <div class="right-container-today-highlight-card-title">UV Index</div>
                    <div class="guage">
                        <div class="guage-body">
                            <div class="guage-fill"></div>
                            <div class="guage-cover"></div>
                        </div>
                    </div>
                    <div class="right-container-today-highlight-card-value">5</div>
                </div>
                <div class="right-container-today-highlight-card">
                    <div class="right-container-today-highlight-card-title">UV Index</div>
                    <div class="guage">
                        <div class="guage-body">
                            <div class="guage-fill"></div>
                            <div class="guage-cover"></div>
                        </div>
                    </div>
                    <div class="right-container-today-highlight-card-value">5</div>
                </div>
                <div class="right-container-today-highlight-card">
                    <div class="right-container-today-highlight-card-title">UV Index</div>
                    <div class="guage">
                        <div class="guage-body">
                            <div class="guage-fill"></div>
                            <div class="guage-cover"></div>
                        </div>
                    </div>
                    <div class="right-container-today-highlight-card-value">5</div>
                </div>
            </div>
        </div>
    </div>
</div>